.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vmstatus{
  font-weight: bold;
  color: red;
}

#w10{
  background: url(https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif) left center no-repeat; 
}